.surface {

	width: 60px;

	&.back, &.front, &.right {

		height: 7px;
		background-color: #ce9c5a;
		transform-origin: center;
		box-shadow: inset 0 0 0 1px #7b6b18;
	}

	&.top {
		background-color: #00cc00;
		transform: translate3d(0, -($boxDimension + $boxHeight/2), $boxDimension/2) rotateX(90deg);
		transform-origin: bottom;
		height: 60px;
		box-shadow: inset 0 0 0 1px #006800;
	}

	&.back {
		transform: translate3d(0, -$boxHeight/2, -$boxDimension/2) rotateY(180deg);
	}
	&.right {
		transform: translate3d($boxDimension/2, -$boxHeight/2, 0) rotateY(90deg);
	}
	&.front {
		transform: translate3d(0, -$boxHeight/2, $boxDimension/2);
	}
}