// --------------------------------------------------------------------
// !-- About shame.scss
// --------------------------------------------------------------------
//
// This file is for temporary quick hacks,
// which is why it should stay empty.
//
// --------------------------------------------------------------------



#R {

	position: absolute;
	top: 50%;
	margin-top:150px;
	width: 100%;
	text-align: center;
	opacity: 0;
	transform:translateY(10px);
	transition: 300ms all;

	&.v {
		transform:none;
		opacity: 1;
	}
}

#W {
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;

	overflow: hidden;

	width: 504px;
	height: 260px;


}

@media (max-width: 504px) {
	#W{
		transform: translate(-50%, -50%) scale(0.65);
	}
	#R {
		position: relative;
		text-align: left;
	}
}

.cube {
	position: relative;
	transform-style: preserve-3d;
	transition: all .3s;
	opacity: 0;
	transform-origin: -70px 0;
	left: 250px;
	top: 15px;
}

.no {
	pointer-events: none;
}




.cube div {
	position: absolute;
}